body {
    font-family: sans-serif;
}

input {
    border-radius: 16px;
    padding: 6px 16px;
    outline: none;
}

button {
    border-radius: 16px;
    border: none;
    padding: 4px 16px;
}

button:hover{
    background-color: #5D534A ;
    color: #fff;
    cursor: pointer;
}

.inputArea {
    background-color: #F7DAD9;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.imcompleteArea {
    background-color: #FFF5DA;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.completedArea {
    background-color: #D6D2C4;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color:#25211e;
}

.listRow {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.taskTitle {
    margin-right: 8px;
}